# Mova esse arquivo para .env e preencha as variaveis

MYSQL_ROOT_PASSWORD=<SENHA ROOT DO BANCO DE DADOS>

DATABASE=escola
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=<SENHA ROOT DO BANCO DE DADOS>

SECRET=<SEU SECRET>
TOKEN_EXPIRATION=7d